import pyautogui
import time

confirmation = pyautogui.confirm(title='Confirmação de execução.', text='Do ladoesquerdo do monitor, abra o Fortes e do lado direiro a planilha com as ocorrências')
	if (confirmation == 'OK')
  pyautogui.alert('O código irá iniciar, não mexa no seu computador'buttuns='Não mexerei')
pyautogui.move(x=, y=)
pyautogui.click()
pyautogui.press('enter')
pyautogui.write('062022')
pyautogui.press('enter')
